In [5]:
import pandas as pd; pd.set_option('display.max_columns', None)
import glob

temp = pd.read_csv('data/Entire_Season.csv')

In [15]:
itens = glob.glob('apostas_do_dia/*pos*v4*.csv')
print(itens)
df_todo = pd.DataFrame()

for item in itens:
    df = pd.read_csv(item)
    df_todo = pd.concat([df_todo, df])

# FT
dfzera = df_todo.merge(temp[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts']], on=['Date', 'Home', 'Away'], how='left')
dfzera = dfzera[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts', 'Odds_H', 'Odds_A', 'Over_Line', 'Odds_Over', 'HA_Line', 'HA_Odds_H', 'HA_Odds_A']]

display(dfzera)

['apostas_do_dia\\ah_pos_v4_2023-10-26.csv']

,Date,Home,Away,Home_Pts,Away_Pts,Odds_H,Odds_A,Over_Line,Odds_Over,HA_Line,HA_Odds_H,HA_Odds_A
0,2023-10-26,NZ Breakers,Adelaide 36ers,85.0,97.0,1.28,3.75,176.5,1.95,-7.5,1.87,1.95

In [14]:
dfzera.to_excel('acompanhamento.xlsx')

over:
=SE(E2+F2>I2;"green";"red")

ah pos:
=SE(K2<0;M2;L2)