In [1]:
import pandas as pd; pd.set_option('display.max_columns', None)
import glob

In [2]:
temp = pd.read_csv('data/Entire_Season.csv')

In [11]:
itens = glob.glob('apostas_do_dia/*v3*.csv')
print(itens)
df_todo = pd.DataFrame()

for item in itens:
    df = pd.read_csv(item)
    df_todo = pd.concat([df_todo, df])

# FT
dfzera = df_todo.merge(temp[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts']], on=['Date', 'Home', 'Away'], how='left')
dfzera = dfzera[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts', 'Odds_H', 'Odds_A', 'Over_Line', 'Odds_Over']]

display(dfzera)

['apostas_do_dia\\over_v3_2023-10-22.csv']

,Date,Home,Away,Home_Pts,Away_Pts,Odds_H,Odds_A,Over_Line,Odds_Over
0,2023-10-22,Tenerife,Real Madrid,76.0,82.0,3.10,1.40,166.5,1.91
1,2023-10-22,Lyon-Villeurbanne,Roanne,93.0,88.0,1.12,6.75,164.5,1.91
2,2023-10-22,Kolossos Rhodes,Olympiakos,59.0,102.0,12.25,1.05,156.5,1.91
3,2023-10-22,Strasbourg,Monaco,67.0,83.0,2.80,1.45,163.5,1.91
4,2023-10-22,Treviso,Venezia,77.0,82.0,2.25,1.69,160.5,1.91
5,2023-10-22,Aris,AS Karditsas,69.0,61.0,1.14,6.00,148.5,1.91
6,2023-10-22,Pistoia,Brescia,72.0,84.0,2.90,1.43,158.5,1.91
7,2023-10-22,Virtus Bologna,Sassari,80.0,66.0,1.11,7.25,162.5,1.91

In [12]:
dfzera.to_excel('acompanhamento.xlsx')

=SE(E2+F2>I2;"green";"red")