In [4]:
import pandas as pd; pd.set_option('display.max_columns', None)
import glob

temp = pd.read_csv('data/Entire_Season.csv')

In [11]:
itens = glob.glob('apostas_do_dia/2023-10-31/*over*v0*.csv')
print(itens)
df_todo = pd.DataFrame()

for item in itens:
    df = pd.read_csv(item)
    df_todo = pd.concat([df_todo, df])

# FT
dfzera = df_todo.merge(temp[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts']], on=['Date', 'Home', 'Away'], how='left')
dfzera = dfzera[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts', 'Odds_H', 'Odds_A', 'Over_Line', 'Odds_Over', 'HA_Line', 'HA_Odds_H', 'HA_Odds_A']]

display(dfzera)

['apostas_do_dia/2023-10-31\\over_v0_2023-10-31.csv']

,Date,Home,Away,Home_Pts,Away_Pts,Odds_H,Odds_A,Over_Line,Odds_Over,HA_Line,HA_Odds_H,HA_Odds_A
0,2023-10-31,Phoenix Suns,San Antonio Spurs,114.0,115.0,1.36,3.25,227.5,1.91,-6.5,1.91,1.91
1,2023-10-31,Los Angeles Clippers,Orlando Magic,118.0,102.0,1.32,3.50,220.5,1.91,-7.5,1.91,1.91
2,2023-10-31,Milano,Maccabi Tel Aviv,90.0,98.0,1.48,2.75,158.5,1.91,-5.5,1.95,1.87
3,2023-10-31,Cedevita Olimpija,BC Wolves,78.0,86.0,1.59,2.50,167.5,1.91,-3.5,1.91,1.91
4,2023-10-31,Trento,Turk Telekom,101.0,96.0,2.15,1.74,159.5,1.95,2.5,1.87,1.95
5,2023-10-31,Joventut,Hamburg,108.0,76.0,1.08,8.50,170.5,1.91,-16.5,1.91,1.91
6,2023-10-31,Anyang JungKwanJang,Mobis Phoebus,75.0,86.0,2.25,1.69,158.5,1.91,2.5,1.91,1.91

In [12]:
dfzera.to_excel('acompanhamento.xlsx')

over:
=SE(E2+F2>I2;"green";"red")

ah pos:
=SE(E2+K2>F2;"casa";"fora")
=SE(K2<0;M2;L2)