In [1]:
import pandas as pd; pd.set_option('display.max_columns', None)
import glob

temp = pd.read_csv('data/Entire_Season.csv')

In [8]:
itens = glob.glob('apostas_do_dia/2023-11-05/*pos*v4*.csv')
print(itens)
df_todo = pd.DataFrame()

for item in itens:
    df = pd.read_csv(item)
    df_todo = pd.concat([df_todo, df])

# FT
dfzera = df_todo.merge(temp[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts']], on=['Date', 'Home', 'Away'], how='left')
dfzera = dfzera[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts', 'Odds_H', 'Odds_A', 'Over_Line', 'Odds_Over', 'HA_Line', 'HA_Odds_H', 'HA_Odds_A']]

display(dfzera)

['apostas_do_dia/2023-11-05\\ah_pos_v4_2023-11-05.csv']

,Date,Home,Away,Home_Pts,Away_Pts,Odds_H,Odds_A,Over_Line,Odds_Over,HA_Line,HA_Odds_H,HA_Odds_A
0,2023-11-05,Murcia,Manresa,87.0,74.0,1.28,3.80,168.5,1.91,-7.5,1.87,1.95
1,2023-11-05,Ludwigsburg,Rostock,96.0,77.0,1.20,4.75,172.5,1.91,-9.5,1.91,1.91
2,2023-11-05,Woori WON F,Busan BNK Sum F,74.0,70.0,1.17,5.50,133.5,1.91,-11.5,1.91,1.91
3,2023-11-05,Promitheas,Lavrio,100.0,73.0,1.18,5.25,159.5,1.91,-9.5,1.87,1.95

In [9]:
dfzera.to_excel('acompanhamento.xlsx')

over:
=SE(E2+F2>I2;"green";"red")

ah pos:
=SE(E2+K2>F2;"casa";"fora")
=SE(K2<0;M2;L2)