In [2]:
import pandas as pd; pd.set_option('display.max_columns', None)
import glob

In [3]:
temp = pd.read_csv('data/Entire_Season.csv')

In [10]:
itens = glob.glob('apostas_do_dia/*v3*25*.csv')
print(itens)
df_todo = pd.DataFrame()

for item in itens:
    df = pd.read_csv(item)
    df_todo = pd.concat([df_todo, df])

# FT
dfzera = df_todo.merge(temp[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts']], on=['Date', 'Home', 'Away'], how='left')
dfzera = dfzera[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts', 'Odds_H', 'Odds_A', 'Over_Line', 'Odds_Over']]

display(dfzera)

['apostas_do_dia\\over_v3_2023-10-25.csv']

,Date,Home,Away,Home_Pts,Away_Pts,Odds_H,Odds_A,Over_Line,Odds_Over
0,2023-10-25,Charlotte Hornets,Atlanta Hawks,116.0,110.0,2.40,1.63,233.5,1.91
1,2023-10-25,New York Knicks,Boston Celtics,104.0,108.0,2.40,1.63,223.5,1.91
2,2023-10-25,Miami Heat,Detroit Pistons,103.0,102.0,1.24,4.25,219.5,1.91
3,2023-10-25,Cedevita Olimpija,Prometey,83.0,90.0,2.35,1.65,167.5,1.91
4,2023-10-25,Slask Wroclaw,Aris,63.0,80.0,2.35,1.65,152.5,1.91
5,2023-10-25,Gran Canaria,JL Bourg,84.0,76.0,1.20,4.75,165.5,1.91
6,2023-10-25,Los Angeles Clippers,Portland Trail Blazers,NaN,NaN,1.24,4.25,226.5,1.91

In [6]:
dfzera.to_excel('acompanhamento.xlsx')

=SE(E2+F2>I2;"green";"red")