In [1]:
import pandas as pd; pd.set_option('display.max_columns', None)
import glob

temp = pd.read_csv('data/Entire_Season.csv')

In [9]:
itens = glob.glob('apostas_do_dia/2023-10-29/*pos*v4*.csv')
print(itens)
df_todo = pd.DataFrame()

for item in itens:
    df = pd.read_csv(item)
    df_todo = pd.concat([df_todo, df])

# FT
dfzera = df_todo.merge(temp[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts']], on=['Date', 'Home', 'Away'], how='left')
dfzera = dfzera[['Date', 'Home', 'Away', 'Home_Pts', 'Away_Pts', 'Odds_H', 'Odds_A', 'Over_Line', 'Odds_Over', 'HA_Line', 'HA_Odds_H', 'HA_Odds_A']]

display(dfzera)

['apostas_do_dia/2023-10-29\\ah_pos_v4_2023-10-29.csv']

,Date,Home,Away,Home_Pts,Away_Pts,Odds_H,Odds_A,Over_Line,Odds_Over,HA_Line,HA_Odds_H,HA_Odds_A
0,2023-10-29,Manresa,Granada,90.0,84.0,1.31,3.60,171.5,1.91,-7.5,1.91,1.91
1,2023-10-29,Milwaukee Bucks,Atlanta Hawks,110.0,127.0,1.33,3.45,238.5,1.91,-7.5,1.91,1.91
2,2023-10-29,Venezia,Varese,102.0,88.0,1.25,4.20,168.5,1.91,-8.5,1.91,1.91
3,2023-10-29,Reggiana,Treviso,90.0,83.0,1.22,4.50,162.5,1.91,-8.5,1.83,2.00
4,2023-10-29,Rostock,Tubingen,108.0,103.0,1.20,4.75,176.5,1.91,-9.5,1.91,1.91
5,2023-10-29,Bonn,Crailsheim Merlins,90.0,68.0,1.11,7.25,170.5,1.91,-12.5,1.91,1.91
6,2023-10-29,Melbourne United,Illawarra Hawks,96.0,84.0,1.14,5.75,175.5,1.95,-11.5,1.95,1.87

In [10]:
dfzera.to_excel('acompanhamento.xlsx')

over:
=SE(E2+F2>I2;"green";"red")

ah pos:
=SE(E2+K2>F2;"casa";"fora")
=SE(K2<0;M2;L2)